@mixin ratingBtn($font-size) {
  font-size: $font-size;
  .ratingBtn-wrapper {
    display: flex;
    align-items: center;
    color: lightgray;
    .ratingBtn {
      display: none;
      cursor: pointer;
      &:checked + label {
        color: $main;
      }
    }
    label {
      cursor: pointer;
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    i {
      margin-right: 10px;
      font-size: 2.5em;
      @include tablet {
        margin-right: 0px;
      }
    }
    span {
      font-size: 1em;
      @include tablet {
        margin-right: 0px;
      }
    }
  }
}
