// color
$main: #ff8f4a;
$lightmain: #f0d0bc;
$blue: #4286c2;
$lightgray: #f8f8f8;
$midgray: #e3e3e5;
$gray: #adadad;
$clean: rgba(255, 255, 255, 0);
// size
$ex-sm: 1.1rem;
$sm: 1.3rem;
$rg: 1.5rem;
$lg: 2rem;
$ex-lg: 2.5rem;
//shadow
$shadow: 2px 2px 5px;
$lightshadow: 1px 1px 1px gray;
