extends ../../base

block content
  div.inputForm-wrapper
    i.fa-solid.fa-3
    h1.title 개인정보 설정
    span.subtitle 마지막 단계입니다.
    form(method="POST").inputForm
      div.input.rows
        input(placeholder="비밀번호" name="password" type="password", required)
        input(placeholder="비밀번호 확인" name="password2" type="password", required)
        input(placeholder="닉네임" name="username" type="text", required)
      button.submit 확인