extends ../../base

block content
  div.inputForm-wrapper
    i.fa-solid.fa-3
    h1.title 개인정보 입력
    span.subtitle 야호! 거의 다 왔습니다.
    form(method="POST").inputForm
      div.input.rows
        input(placeholder="유저네임" name="username" type="text", required)
        input(placeholder="패스워드" name="password" type="text", required)
      button.submit 확인
    div.auth-switch
      span 이미 계정이 있으신가요? 
      a(href="/login") 로그인 &rarr;