extends ../base
include ../mixins/place

block content
  if places.length !== 0
    div.search-header
      h1 당신을 위한
      h2 <strong>##{search}</strong> 추천 장소
    div.placeBox-wrapper
      each place in places
        +place(place)
  else
    div.search-header
      h1
        i.fa-solid.fa-triangle-exclamation
      h2 검색 결과가 없습니다.