.home-header {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  color: black;
  margin-bottom: 50px;
  h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  h2 {
    strong {
      border-bottom: solid 3px $main;
      font-size: 1.1em;
      font-weight: 700;
    }
  }
}

.tagBox-wrapper {
  margin-bottom: 2rem;
  .tagBox-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    span {
      font-size: 0.9em;
      color: gray;
    }
  }
  .tagBox-places {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    .tagBox-place {
      height: 150px;
      background-color: lightgray;
    }
  }
}
