h2 {
  font-size: $rg;
  font-weight: 500;
  margin-bottom: 20px;
  color: dimgrey;
}

.info__header {
  margin-bottom: 30px;
  h1 {
    color: $main;
    font-size: $lg;
    font-weight: 700;
    margin-bottom: 13px;
  }
  div:first-of-type {
    margin-bottom: 15px;
  }
  span {
    color: $gray;
    font-size: $sm;
  }
  i {
    color: $main;
    margin-right: 10px;
    font-size: $sm;
  }
  .info__location {
    border-bottom: solid rgb(232, 232, 232);
  }
  .fa-copy {
    color: $gray;
    margin-left: 5px;
  }
}

.info__imageBox__container {
  max-width: 400px;
  width: 100%;
  height: 160px;
  background-color: $midgray;
  margin-bottom: 30px;
}

.info__hashtags {
  margin-bottom: 40px;
  span {
    padding: 10px;
    width: 5px;
    height: 3px;
    border-radius: 20px;
    background-color: white;
    margin-right: 10px;
    font-size: $sm;
    color: gray;
    box-shadow: $shadow $gray;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  span:hover {
    background-color: $main;
    color: white;
  }
}

.info__map__container {
  .info__map {
    max-width: 400px;
    width: 100%;
    height: 160px;
    background-color: $midgray;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: $shadow $gray;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
}

.info__review__container {
  width: 100%;
  max-width: 400px;
  .info__review {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: $shadow $gray;
    display: flex;
    word-break: break-all;
    .info__review__profileContainer {
      width: 10%;
      display: flex;
      justify-content: center;
      padding: 10px;
      div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $main;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
    .info__review__mainContainer {
      padding: 10px;
      width: 80%;
      p:first-of-type {
        font-weight: 700;
        font-size: $sm;
        margin-bottom: 10px;
      }
      p:nth-of-type(2) {
        font-size: $rg;
        margin-bottom: 15px;
      }
      p:last-of-type {
        font-size: 11px;
        color: $gray;
      }
    }
    .info__review__likeContainer {
      padding: 20px;
      display: flex;
      justify-content: right;
      color: $main;
      i {
      }
    }
  }
}

.info__comment__container {
  max-width: 400px;
  width: 100%;
  .info__comment__rates {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    .rateBtn {
      display: none;
    }
    .rateBtn:checked + label {
      background-color: $main;
      color: white;
    }
    label {
      width: 60px;
      height: 60px;
      background-color: white;
      border-radius: 20px;
      box-shadow: $shadow $gray;
      color: $main;
      transition-duration: 0.4s;
      cursor: pointer;
      i {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    label:hover {
      background-color: $main;
      color: white;
    }
  }
  textarea {
    width: 90%;
    height: 100px;
    border-radius: 20px;
    box-shadow: $shadow $gray;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
  }
  .info__comment__images {
    display: flex;
    justify-content: space-between;
    label:hover {
      background-color: $blue;
      color: white;
    }
    label {
      background-color: $midgray;
      display: block;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: $shadow $gray;
      border-radius: 20px;
      margin-bottom: 20px;
      color: gray;
      transition-duration: 0.4s;
      cursor: pointer;
      div {
        text-align: center;
        p {
          font-size: $lg;
        }
        span {
          font-size: $sm;
        }
      }
    }
    input {
      display: none;
    }
  }
  button {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px $gray;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover {
    background-color: $main;
    color: white;
  }
}
