.header-wrapper {
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $main; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    $main
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    $main
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  .header__logo {
    font-size: 27px;
    margin: 20px;
    span {
      font-family: "Black Han Sans", sans-serif;
    }
  }
  ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
    li {
      margin-left: 10px;
      font-size: 14px;
      margin: 10px;
      font-weight: 700;
      .joinBtn {
        background-color: white;
        color: $main;
        padding: 10px 25px;
        border-radius: 7px;
      }
      @include mobile {
        .loginBtn {
          display: none;
        }
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}
