header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main;
  color: white;
  .header__logo {
    font-size: 27px;
    margin: 20px;
    span {
      font-family: "Black Han Sans", sans-serif;
    }
  }
  ul {
    display: flex;
    margin-right: 20px;
    li {
      margin-left: 10px;
      font-size: 17px;
      margin: 10px;
    }
  }
}
