@mixin hashtag {
  span {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    font-size: $sm;
    color: gray;
    box-shadow: $shadow $gray;
    transition-duration: 0.4s;
    cursor: pointer;
    &:hover {
      background-color: $main;
      color: white;
    }
  }
}
