extends base
include ./mixins/place

block content
  div.home-header
    h1 당신을 위한
    h2 <strong>가좌캠퍼스</strong> 추천 장소
  each placeList, hashtag in places
    div.tagBox-wrapper
      h1.tagBox-title=hashtag
        span (#{placeList.length})
      div.tagBox-places
        each place in placeList
          +place(place)