extends base
include ./mixins/place

block content
  div.home-header.box
    h1 경대생들의 솔직한 리뷰
    h2 <strong class="keyword">윗지앤유</strong>
  each placeList, hashtag in places
    div.tagBox-wrapper
      div.tagBox-wrapper__header
        h1.tagBox-title ##{hashtag}
        a(href=`/search?search=${hashtag}`)
          div.tagBox-more 더보기 &rarr;
      div.tagBox-places
        each place in placeList
          +place(place)