extends ../base
include ../mixins/place

block content
  div.placeBox-wrapper
    each place in places
      +place(place)
    else
      span No places found
block scripts
  script(src="/static/js/placebox.js")