extends ../base
include ../mixins/restaurant

block content
  div.placeBox-wrapper
    each place in places
      +restaurant(place)
    else
      span No places found
block scripts
  script(src="/static/js/placebox.js")