footer.footer-wrapper
  div.footer-actionBtns
    a(href="/privacy-policy")
      span 개인정보처리방침
    strong  | 
    a(href="/service-policy")
      span 이용약관
  div.footer-contacts
    p 이메일 문의: dongho18@gnu.ac.kr