header.header-wrapper
  a(href="/").header__logo
    span ㅇㅈㅇㅇ
  nav
    ul
      if loggedIn
        li
          a(href=`/users/${loggedInUser._id}`)
            if loggedInUser.avatarUrl === ""
              img(src="https://www.gnu.ac.kr/images/web/main/sub_cnt/btype_vi_img18.png")
            else
              img(src=`/${loggedInUser.avatarUrl}`)
      else
        li
          a(href="/login").loginBtn 로그인
        li
          a.joinBtn(href="/join") 학생 인증