header
  a(link href="/").header__logo
    span ㅇㅈㅇㅇ
  nav
    ul
      if loggedIn
        li
          a(href=`/users/${loggedInUser._id}`)
            i.fa-solid.fa-address-card.fa-lg
        li
          a(href="/users/logout")
            i.fa-solid.fa-right-from-bracket
      else
        li
          a(href="/join")
            i.fa-solid.fa-user-plus
        li
          a(href="/login")
            i.fa-solid.fa-right-to-bracket