extends ../base

block content
  div.inputForm-wrapper
    i.fa-solid.fa-pen
    h1.title 비밀번호 변경
    span.subtitle 비밀번호를 변경합니다.
    form(method="POST").inputForm
      div.input.rows
        div.password-wrapper
          label(for="password1") 현재 비밀번호
          input(placeholder="비밀번호" name="password1" id="password1" type="password", required)
          label(for="password2") 새로운 비밀번호
          input(placeholder="비밀번호" name="password2" id="password2" type="password", required)
          label(for="password3") 새로운 비밀번호 확인
          input(placeholder="비밀번호" name="password3" id="password3" type="password", required)
      button.submit 확인