extends ../base

block content
  main
    h1 경상국립대학교 학생 인증
    form(action="api/join/emailAuth" method="POST")
      input(placeholder="ID" name="id" type="text")
      button(formaction="api/join/emailAuth" formmethod="POST") 전송
      input(placeholder="Number" name="number" type="text")
      button 확인