extends ../base

block content
  main
    h1 경상국립대학교 학생 인증
    form
      input(placeholder="ID" type="text")
      input(placeholder="PASSWORD" type="text")
      input(placeholder="인증번호" type="text")