extends ../base

block content
  div.inputForm-wrapper
    i.fa-solid.fa-right-to-bracket
    h1.title 로그인
    span.subtitle 경상국립대학교 웹메일 ID를 입력해주세요.
    form(method="POST").inputForm
      div.input.rows
        input(placeholder="아이디" name="id" type="text", required)
        input(placeholder="비밀번호" name="password" type="password", required)
      button.submit 확인
    div.auth-switch
      span 계정이 없으신가요? 
      a(href="/join") 학생 인증 &rarr;